<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>The Wishing App</title>
</head>

<body>
    <h1>Hello {{ user.first_name }}! Let's edit your wish!</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/update_wish/edit/{{ wish.id }}" method="POST">
        {% csrf_token %}
        <p>I wish for: <input name="title" value="{{ wish.title }}" type="text"></p>
        <p>Description: <input name="desc" value="{{ wish.desc }}"" type="text"></p>
        <button type="submit">Update</button>
    </form>
    <a href="/wishes">Cancel</a>
</body>
<a href="/logout">Logout</a>

</html>