<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Damn son where did you get that</title>
</head>
<body>
    <h2>You can trust me</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>First Name:</th>
            <th>Last Name:</th>
            <th>E-mail:</th>
            <th>Age:</th>
        </tr>
        {% for user in users %}
        <tr>
            <th>{{ user.id }}</th>
            <th>{{ user.first_name }}</th>
            <th>{{ user.last_name }}</th>
            <th>{{ user.email }}</th>
            <th>{{ user.age }}</th>
        </tr>
        {% endfor %}
    </table>
        <form action="/rat_bastahd" method="POST">
            {% csrf_token %}
            <p>First Name:<input name="first_name" type="text"></p>
            <p>Last Name:<input name="last_name" type="text"></p>
            <p>E-mail:<input name="email" type="text"></p>
            <p>Age:<input name="age" type="text"></p>
            <button type="submit">Add User</button>
        </form>
</body>
</html>