<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Books</title>
</head>

<body>
    <h1>Welcome {{ user.first_name }} </h1>
    <form action="/books/{{ book_id }}/update" method="POST">
        <h2><input name="title" value="{{ book.title }}"type="text"></h2>
        <p>Added by: {{ book.uploaded_by_id.first_name }} {{ book.uploaded_by_id.last_name }}</p>
        <p>Add on: {{ book.created_at }}</p>
        <p>Last updated: {{ book.updated_at }}</p>
        <p>Description: <input name="desc" value="{{ book.desc }}" type="text"></p>
        <h2>Users who like this book:</h2>
        {% for user in book.users_who_liked.all %}
        <button type="submit">Update</button>
    </form>
    <ul>
        <li>{{ user.first_name }} {{ user.last_name }}</li>
    </ul>
    {% endfor %}
    {% if book.user_who_liked.all %}
    {% else %}
    <a href="/books/{{ book.id }}/like">Add to Favorites</a>
    {% endif %}
    <br>
    <a href="/logout">Logout</a>
</body>

</html>