<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partials/header.html" %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    {% include "partials/navbar.html" %}
    <div class="text-center">
    <h1>Camped Events</h1>
    <div class="text-center">
        {% if messages %}
        <ul class="messages" id="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <h3 class="mt-5">Todays Camped event for {{ date }} join while you still can:</h3>
    </div>
    <table class="table" style="max-width: 1500px;margin: auto;">
        <thead>
            <tr>
                <th>Host:</th>
                <th>Camped Name:</th>
                <th>Type:</th>
                <th>Location:</th>
                <th>Attending:</th>
                <th>Date:</th>
                <th>Time:</th>
                <th>Action:</th>
            </tr>
        </thead>
        <tbody>
            {% for camp in camp %}
            {% if date == camp.date|date:"Y/m/d" %}
            <tr>
                {% if camp.camped_event.id == request.session.userid %}
                <th>{{ camp.camped_event.first_name }} {{ camp.camped_event.last_name }}</th>
                {% else %}
                <th><a href="/profile/{{ camp.camped_event.id }}">{{ camp.camped_event.first_name }} {{ camp.camped_event.last_name }}</a></th>
                {% endif %}
                <th><a href="/camped/{{ camp.id }}">{{ camp.title }}</a></th>
                <th>{{ camp.type }}</th>
                <th>{{ camp.location }}</th>
                <th>{{ camp.camped_join.count }}/{{ camp.attendee }}</th>
                <th>{{ camp.date }}</th>
                <th>{{ camp.time }}</th>
                {% if request.session.userid == camp.camped_event.id %}
                <th>Host</th>
                {% elif user in camp.camped_join.all %}
                <th>Joined!</th>
                {% elif camp.camped_join.count == camp.attendee %}
                <th>Full!</th>
                {% else %}
                <th><a href="/HQ/{{ camp.id }}/join">Join</a></th>
                {% endif %}
            </tr>
            {% else %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <h3 class="text-center mt-5">All Camped Events:</h3>
    <table class="table" style="max-width: 1500px;margin: auto;">
        <thead>
            <tr>
                <th>Host:</th>
                <th>Camped Name:</th>
                <th>Type:</th>
                <th>Location:</th>
                <th>Attending:</th>
                <th>Date:</th>
                <th>Time:</th>
                <th>Action:</th>
            </tr>
        </thead>
        <tbody>
            {% for camp in camp reversed %}
            {% if date < camp.date|date:"Y/m/d" %}
            <tr>
                {% if camp.camped_event.id == request.session.userid %}
                <th>{{ camp.camped_event.first_name }} {{ camp.camped_event.last_name }}</th>
                {% else %}
                <th><a href="/profile/{{ camp.camped_event.id }}">{{ camp.camped_event.first_name }} {{ camp.camped_event.last_name }}</a></th>
                {% endif %}
                <th><a href="/camped/{{ camp.id }}">{{ camp.title }}</a></th>
                <th>{{ camp.type }}</th>
                <th>{{ camp.location }}</th>
                <th>{{ camp.camped_join.count }}/{{ camp.attendee }}</th>
                <th>{{ camp.date }}</th>
                <th>{{ camp.time }}</th>
                {% if request.session.userid == camp.camped_event.id %}
                <th>Host</th>
                {% elif user in camp.camped_join.all %}
                <th>Joined!</th>
                {% elif camp.camped_join.count == camp.attendee %}
                <th>Full!</th>
                {% else %}
                <th><a href="/HQ/{{ camp.id }}/join">Join</a></th>
                {% endif %}
            </tr>
            {% else %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% include "partials/footer.html" %}
</body>

</html>