<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partials/header.html" %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    {% include "partials/navbar.html" %}
    <div class="text-center">
        <h1>Edit Camped</h1>
        {% if messages %}
        <ul class="messages" id="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <form action="/update_camp/{{ camp.id }}" style="max-width: 350px;margin: auto;" method="POST">
        {% csrf_token %}
        <label for="title">Camped Name:</label>
        <input name="title" value="{{ camp.title }}" type="text" class="form-control">
        <label for="type">Type:</label>
        <br>
        <div class="text-center">
            <select name="type">
                {% if camp.type %}
                <option selected value="{{ camp.type }}">{{ camp.type }}</option>
                {% for i in z %}
                {% if camp.type != i %}
                <option value="{{ i }}">{{ i }}</option>
                {% endif %}
                {% endfor %}
                {% endif %}
            </select>
        </div>
        <br>
        <label for="location">Location:</label>
        <input name="location" value="{{ camp.location }}" type="text" class="form-control">
        <label for="attendee">Attending</label>
        <br>
        <div class="text-center">
            <select name="attendee">
                {% if camp.attendee %}
                <option selected value="{{ camp.attendee }}">{{ camp.attendee }}</option>
                {% for i in x %}
                {% if camp.attendee != i %}
                <option value="{{ i }}">{{ i }}</option>
                {% endif %}
                {% endfor %}
                {% endif %}
            </select>
        </div>
        <br>
        <label for="date">Date:</label>
        <input name="date" value="{{ camp.date|date:'Y-m-d' }}" type="date" class="form-control" required>
        <label for="time">Time:</label>
        <input name="time" value="{{ camp.time|time:'H:i' }}" type="time" class="form-control" required>
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-sm btn-warning">Update</button>
        </div>
    </form>
    {% include "partials/footer.html" %}
</body>

</html>