<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partials/header.html" %}
</head>

<body>
    {% include "partials/navbar.html" %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>Create Camped!</h1>
    <form action="/create" method="POST">
        {% csrf_token %}
        <p>Camped Name: <input name="title" type="text"></p>
        <p>Type: <select name="type">
                {% for i in z %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select></p>
        <p>Location: <input name="location" type="text"></p>
        <p>Attendees: <select name="attendee">
                {% for i in x %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select></p>
        <p>Date: <input name="date" type="date" required></p>
        <p>Time: <input name="time" type="time" required></p>
        <button type="submit">Submit</button>
    </form>
    <a href="/HQ"><button>Back</button></a>
    {% include "partials/footer.html" %}
</body>

</html>