<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partials/header.html" %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    {% include "partials/navbar.html" %}
    <div class="text-center">
    <h1>Welcome {{ user.first_name }}!</h1>
    {% if messages %}
    <ul class="messages" id="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
    <h3>The date is {{ date }} Todays Camped event:</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Host:</th>
                <th scope="col">Camped Name:</th>
                <th scope="col">Type:</th>
                <th scope="col">Location:</th>
                <th scope="col">Attending:</th>
                <th scope="col">Date:</th>
                <th scope="col">Time:</th>
            </tr>
        </thead>
        <tbody>
            {% for camp in camp %}
            {% if user in camp.camped_join.all and date == camp.date|date:"Y/m/d" %}
            <tr>
                {% if camp.camped_event.id == request.session.userid %}
                <th>{{ camp.camped_event.first_name }} {{ camp.camped_event.last_name }}</th>
                {% else %}
                <th><a href="/profile/{{ camp.camped_event.id }}">{{ camp.camped_event.first_name }} {{ camp.camped_event.last_name }}</a></th>
                {% endif %}
                <th><a href="/camped/{{ camp.id }}">{{ camp.title }}</a></th>
                <th>{{ camp.type }}</th>
                <th>{{ camp.location }}</th>
                <th>{{ camp.camped_join.count }}/{{ camp.attendee }}</th>
                <th>{{ camp.date }}</th>
                <th>{{ camp.time }}</th>
            </tr>
            {% else %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <h3>Upcoming Camped events</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Host:</th>
                <th scope="col">Camped Name:</th>
                <th scope="col">Type:</th>
                <th scope="col">Location:</th>
                <th scope="col">Attending:</th>
                <th scope="col">Date:</th>
                <th scope="col">Time:</th>
                <th scope="col">Action:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for camp in camp %}
                {% if user in camp.camped_join.all and date < camp.date|date:"Y/m/d" %} 
                {% if camp.camped_event.id == request.session.userid %} 
                <th>{{ camp.camped_event.first_name }} {{ camp.camped_event.last_name }}</th>
                {% else %}
                <th><a href="/profile/{{ camp.camped_event.id }}">{{ camp.camped_event.first_name }} {{ camp.camped_event.last_name }}</a></th>
                {% endif %}
                <th><a href="/camped/{{ camp.id }}">{{ camp.title }}</a></th>
                <th>{{ camp.type }}</th>
                <th>{{ camp.location }}</th>
                <th>{{ camp.camped_join.count }}/{{ camp.attendee }}</th>
                <th>{{ camp.date }}</th>
                <th>{{ camp.time }}</th>
                {% if request.session.userid == camp.camped_event.id %}
                <th>Host</th>
                {% else %}
                <th>Joined!</th>
                {% endif %}
            </tr>
            {% else %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</body>

</html>