<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partials/header.html" %}
    {% include "partials/map_header.html" %}
</head>

<body>
    {% include "partials/navbar.html" %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>Camped Event</h1>
    {% if camp.camped_event.id == request.session.userid %}
    <p>Host: {{ camp.camped_event.first_name }} {{ camp.camped_event.last_name }}</p>
    </p>
    {% else %}
    <p>Host: <a href="/profile/{{ camp.camped_event.id }}">{{ camp.camped_event.first_name }} {{ camp.camped_event.last_name }}</a>
    {% endif %}
    <p>Camped Name: {{ camp.title }}</p>
    <p>Type: {{ camp.type }}</p>
    <p id="location">Location: {{ camp.location }}</p>
    <p>Attending: {{ camp.camped_join.count }}/{{ camp.attendee }}</p>
    <p>Attendee's</p>
    <ul>
        {% for user in camp.camped_join.all %}
        {% if user.id == camp.camped_event.id %}
        {% else %}
        <li>{{ user.first_name }} {{ user.last_name }}</li>
        {% endif %}
        {% endfor %}
    </ul>
    <p>Date: {{camp.date }}</p>
    <p>Time: {{ camp.time }}</p>
    {% if user in camp.camped_join.all and camp.camped_event.id != request.session.userid %}
    <a href="/HQ/{{ camp.id }}/leave"><button>Leave</button></a>
    {% else %}
    {% endif %}
    {% if user.id == camp.camped_event.id %}
    <a href="/camped/{{ camp.id }}/edit"><button>Edit</button></a>
    <a href="/HQ"><button>Home</button></a>
    <a href="/camped"><button>Camped</button></a>
    <a href="/delete/{{ camp.id }}"><button>Delete</button></a>
    {% else %}
    <a href="/HQ"><button>Home</button></a>
    <a href="/camped"><button>Camped</button></a>
    {% endif %}
    <div id="map"></div>
    {% include "partials/map.html" %}
</body>

</html>