<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partials/header.html" %}
</head>

<body>
    {% include "partials/navbar.html" %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>{{ user.first_name }} Profile</h1>
    {% if user.id == request.session.userid %}
    <h5>Update Profile</h5>
    {% csrf_token %}
    <form action="/update_user/{{ user.id }}" method="POST">
        {% csrf_token %}
        <p>First Name: <input name="first_name" value="{{ user.first_name }}" type="text"></p>
        <p>Last Name: <input name="last_name" value="{{ user.last_name }}" type="text"></p>
        <p>E-mail: <input name="email" value="{{ user.email }}" type="email"></p>
        <p>Password: <input name="password" type="password"></p>
        <p>Confirm Password: <input name="confirm_pw" type="password"></p>
        <button type="submit">Update</button>
    </form>
    {% else %}
    <p>Name: {{ user.first_name }} {{user.last_name }}</p>
    <p>E-mail: {{ user.email }}</p>
    {% endif %}
    <a href="/HQ"><button>Back</button></a>
</body>

</html>