<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>User Table</h1>
    <table>
        <tr>
            <th>First Name:</th>
            <th>Last Name:</th>
            <th>E-mail:</th>
            <th>Action:</th>
        </tr>
    </table>
    <table>
        {% for User in Users %}
        <tr>
            <th>{{ User.id }}</th>
            <th>{{ User.first_name }}</th>
            <th>{{ User.last_name }}</th>
            <th>{{ User.email}}</th>
            <th><a href="/user/{{ User.id }}/edit">Edit</a></th>
            <th><a href="/user/{{ User.id }}/delete">Delete</a></th>
        </tr>
        {% endfor %}
    </table>
    <a href="/new/user">Create a new user</a>
</body>

</html>