<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Add a Book</h1>
    <form action="add_book" method="POST">
        {% csrf_token %}
        <p>Title: <input type="text" name="title"></p>
        <p>Description: <input type="text" name="desc"></p>
        <button tyype="submit">Add</button>
    </form>
    <table>
        <tr>
            <th>ID:</th>
            <th>Title:</th>
            <th>Action</th>
        </tr>
        {% for book in books %}
        <tr>
            <th>{{ book.id }}</th>
            <th>{{ book.title }}</th>
            <th><a href="/books/{{book.id}}">View</a></th>
        </tr>
        {% endfor %}
    </table>
</body>

</html>